#!/usr/bin/env python
# -*- coding: utf-8 -*-


__author__ = '{{author}}'
__version__ = '0.0.1'


def get_sum(a, b):
    return a + b


def main():
    print('This is Sample Standalone Module!')
    print('Math is Great!')
    print(f'2 + 3 = {get_sum(2, 3)}')
    

if __name__ == '__main__':
    main()
