# This file must not be commited! It contains confidentials.
server = 
username = 
password = 

# The path when you store files
# The Final Path will be: <main_bucket_path>/<client_name>/<project_name>
main_bucket_path = 
# Leave empty if not attached to the final path
client_name = 
# Leave empty if not attached to the final path
project_name = 
