# This file must not be commited! It contains confidentials.
server = sentisa.myds.me
username = ci_ftp
password = ci9to$ftepa

# Path to bucket when you store this kind of stuff
# Final Path will be: <main_bucket_path>/<client_name>/<project_name>
main_bucket_path = fw_cloud
# Leave empty if not attached to final path
client_name = pyrepogen_client
# Leave empty if not attached to final path
project_name = pyrepogen_module
